header {background-color: mintcream; color: navy; font-family: "arial","sans-serif";
    border:solid; border-color: navy}
nav {background-color:navy;
 		display: grid;
		grid-template-columns: repeat(7,1fr);
        color: #fff;
        padding: 1rem;}
nav a {
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem;
        text-align: center;
      }

     nav a:hover {
		 color: red;
      }
nav p{border:medium solid; border-color:mintcream; background-color: navy; font-weight: bold; color: mintcream; display:inline-block; width: 17%; min-width: 85px; text-align:center; margin-left: 3px}
nav a{color: mintcream}
main {background-color: mintcream; }
main h{font: Arial, "sans-serif"}
main h2{text-align: center}
footer {background-color: navy; color: mintcream
	
}
